aac-datasets~=0.5.0
aac-metrics~=0.5.3
black~=24.8.0
conette~=0.1.4
numpy~=1.26
yt-dlp~=2025.2.19
torch==2.2.1+cu118  --index-url https://download.pytorch.org/whl/cu118
torch-pruning~=1.5.1
torchvision==0.17.1