aac-datasets~=0.7.0
aac-metrics~=0.5.3
black~=24.2.0
conette==0.1.4
msclap==1.3.4
numpy~=1.26
transformers==4.39.3
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchao==0.16.0
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126
torch-pruning==1.5.1
yt-dlp~=2025.2.19